.header{
    text-align: center;
}
a {
    padding:65px;
    /* font-family: 'Berkshire Swash', cursive; */
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size:40px;
    display: block;
}

#menu-button{
    padding:0;
}

a:hover{
  color: white;
  background-color: black;
  text-decoration: none;
}
a#menu-button:hover{
  color: white;
  background-color: rgb(16, 73, 56);
  text-decoration: none;
}
a#home-button:hover{
    color: white;
    background-color: rgb(16, 73, 56);
    text-decoration: none;
}

a#new-music-button:hover{
  color: white;
  background-color: rgb(77, 40, 40);
  text-decoration: none;
}

a#sotw-button:hover{
  color: white;
  background-color: rgb(122, 78, 11);
  text-decoration: none;
}

a#about-button:hover{
  color: white;
  background-color: rgb(12, 51, 70);
  text-decoration: none;
}

.page{
    background-repeat: no-repeat center center fixed;
    max-width: 100%;
    height: auto;
}

.layer {
    background-color: rgba(248, 247, 216, 1.0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.welcome{
    background: white;
    /* height:50vh; */
    padding:50px 50px 50px 50px;
    margin: 40vh;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 20vh;
}

h3{
  font-family: 'Bebas Neue', cursive;
  color: black;
}

h5.sotw-header{
  font-family: 'Cutive Mono';
  text-decoration: none;
  color: black;
  text-align: center;
  display: block;
  padding:10px;
  font-size: 35px;
}


/* #info{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-height: 100%;
  height:100%;
  margin 0 auto;
} */

* {
  margin: 0; 
  padding: 0;
}
#container {
  height: 100%; 
  width:100%; 
  font-size: 0;
}
#left, #middle, #right {
  display: inline-block; 
  *display: inline; 
  zoom: 1; 
  vertical-align: top; 
  font-size: 12px;
}
/* #left {
  width: 25%;
  height:100%; 
  text-orientation: upright;
} */
#middle {
  width: 50%; 
  height:100%; 
  background-color: white;
}
#right {
  width: 25%; 
  height:100%; 
  }
#left-text{
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
}

#sotw-image{
  max-width:100%;
  width:400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-height: 100%;
  margin 0 auto;
  padding-top: 50px;
  animation-duration: 1s;
  animation-name: fadeIn;
}

#sotw-title{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  padding-top: 150px;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity:1}
}

#welcome{
    font-size: 50px;
}

#font{
    font-family: 'Bebas Neue', cursive;
    /* font-family: 'Staatliches', cursive; */
    /* font-family: 'Courier Prime', monospace; */
    /* font-family: 'Berkshire Swash', cursive; */

}

.new-music{
    background-color: rgb(77, 40, 40);
}
.sotw{
  background-color: rgb(122, 78, 11);
}
.about{
  background-color: rgb(12, 51, 70);
}

#sotw-home-button:hover{
  color: white;
  background-color: rgb(16, 73, 56);
  text-decoration: none;
}
#sotw-new-music-button:hover{
  color: white;
  background-color:rgb(77, 40, 40);;
  text-decoration: none;
}
#sotw-sotw-button{
  color: rgb(122, 78, 11);
  background-color: white;
  text-decoration: none;
}
#sotw-about-button:hover{
  color: white;
  background-color: rgb(12, 51, 70);
  text-decoration: none;
}



#nm-home-button:hover{
  color: white;
  background-color: rgb(16, 73, 56);
  text-decoration: none;
}
#nm-new-music-button{
  color:rgb(77, 40, 40);
  background-color: white;
  text-decoration: none;
}
#nm-sotw-button:hover{
  color:white;
  background-color: rgb(122, 78, 11); 
  text-decoration: none;
}
#nm-about-button:hover{
  color: white;
  background-color: rgb(12, 51, 70);
  text-decoration: none;
}



#ab-home-button:hover{
  color: white;
  background-color: rgb(16, 73, 56);
  text-decoration: none;
}
#ab-new-music-button:hover{
  color:mwhite;
  background-color:rgb(77, 40, 40); 
  text-decoration: none;
}
#ab-sotw-button:hover{
  color:white;
  background-color: rgb(122, 78, 11); 
  text-decoration: none;
}
#ab-about-button{
  color:rgb(12, 51, 70); 
  background-color:white;
  text-decoration: none;
}

/* .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  } */
  
  /* Create four equal columns that sits next to each other
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  /* @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  /* @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  } */